label{
	font-size:12px;
	color:grey;
	font-variant:small-caps;
	font-weight:bolder;
	float:left;
}
input{
	float:right;
}
form div{
	margin:21px;
	clear:both;
}

label.error{
	color:red;
}

form{
	width:470px;
}