{% extends "template/template.html" %}

{% block title %}Enter{% endblock %}
{% block js %}
    <script type="text/javascript" src="{{ STATIC_URL }}javascript/validator/jquery.validate.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}javascript/datetime/jquery-ui-timepicker-addon.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}javascript/n.js"></script>
{% endblock %}
{% block content %}
    <h5>{{ app.app_name }} Server Configuration Form</h5>
    {% if error_message %}
        <div id="my_feedback">
            {{ error_message }}
        </div>
    {% endif %}
    {% if feedback %}
        <div id="my_feedback">
            {{ feedback }}
        </div>
    {% else %}

        <div id="form_container">
            <form action="/configuration_form/" method="post">
                {% csrf_token %}
                {{ form.as_ul }}
                <div>
                    <input type="submit" value="Submit" />
                </div>

            </form>
            <br/><br/>
        </div>
    {% endif %}
{% endblock %}