<!DOCTYPE html>
<html id="large_background" xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta charset="utf-8" />
		<!--[if IE]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
		<title>Grolsch - {% block title %}Your Content, Your Way{% endblock %}</title>
		<meta name="keywords" content="" />
		<meta name="description" content="" />
<!--[if IE]> 
    <link rel="stylesheet" href="{{STATIC_URL}}css/style.ie.css" type="text/css" media="screen, projection" />
<![endif]-->
<![if !IE]> 
    <link rel="stylesheet" href="{{STATIC_URL}}css/style.css" type="text/css" media="screen, projection" />
<![endif]>
		<script type="text/javascript" src="{{STATIC_URL}}javascript/analytics.js"></script>
		{% block js %}{% endblock %}
	</head>

	<body>
		<div id="wrapper_large">
			<header id="header">
				<img src="{{STATIC_URL}}images/beer_bottle.png" alt="" id="beer_bottle" />
				<a href="/" id="header_logo"><img src="{{STATIC_URL}}images/header_logo.png" alt="" /></a>
				{% if is_logged_in %}<a id="header_login" href="/exit">Sign Out</a>{% else %}<a id="header_login" href="/enter">Sign In / Sign Up</a>{% endif %}
			</header><!-- #header-->
			<div id="content_large">
				{% block content%}{% endblock %}
			</div><!-- #content-->
		</div><!-- #wrapper -->
		<footer id="footer">
			<div id="copyright">
					<a id="no_link" href="javascript:void('2012')">&copy; 2012 - ROYAL GROLSCH N.V.</a>
			</div>
			<div id="footer_links">
				<a href="/faq">FAQ</a>
				|
				<a href="/terms">Terms of USE</a>
				|
				<a href="/privacy">privacy policy</a>
				|
				<a href="mailto:gbt.secretary@grolsch.nl">contact us</a>
			</div>
			<div id="logos_up">
				<a target="_blank" href="http://www.grolsch.co.uk/"><img src="{{STATIC_URL}}images/logo1.png" alt=""/></a>
				<a target="_blank" href="http://grolschfilmworks.com/"><img src="{{STATIC_URL}}images/logo2.png" alt=""/></a>
				<a target="_blank" href="http://tiff.net/"><img src="{{STATIC_URL}}images/logo3.png" alt=""/></a>
				<a target="_blank" href="https://www.facebook.com/pages/Grolsch/213023221111"><img src="{{STATIC_URL}}images/logo4.png" alt=""/></a>
				<a target="_blank" href="http://www.talkingalcohol.com/"><img src="{{STATIC_URL}}images/logo5.png" alt=""/></a>
			</div>
			<div id="logos_down">
				<a  target="_blank" href="http://alliancefilms.com/"><img src="{{STATIC_URL}}images/logo6.png" alt=""/></a>
			</div>
			<div id="footer_note">
				<p>
					™ Toronto International Film Festival is a trademark of Toronto International Film Festival Inc. used under license by Miller Brewing Trading Company.  ® Grolsch is a trademark of Royal Grolsch N.V
				</p>
			</div>
		</footer><!-- #footer -->
	</body>
</html>