{% extends "movies/enjoy_template.html" %}
{% load aws-tags %}
{% block title %}{{ movie.title }}{% endblock %}
{% block js %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
<script src="https://s3.amazonaws.com/alliance-movies.t-mobile.com/flowplayer/flowplayer-3.2.11.min.js"></script>
<script src="https://s3.amazonaws.com/alliance-movies.t-mobile.com/flowplayer/flowplayer.ipad-3.2.10.min.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}javascript/enjoy.js"></script>
<script type="text/javascript">
	// <![CDATA[
	window.onload = function() {
		if(navigator.userAgent.match(/iPhone/i) || navigator.userAgent.match(/iPad/i) || navigator.userAgent.match(/iPod/i)) {
			var player = flowplayer("player", {
				src : "https://s3.amazonaws.com/alliance-movies.t-mobile.com/flowplayer/flowplayer.commercial-3.2.12.swf",
				wmode : 'opaque'
			}, {
				key : '{{player_key}}',
				clip : {
					// preserve aspect ratios
					scaling : 'fit'
				}
			}).ipad({
				simulateiDevice : true,
				controls : true
			});
		} else {
			var player = flowplayer("player", {
				src : "https://s3.amazonaws.com/alliance-movies.t-mobile.com/flowplayer/flowplayer.commercial-3.2.12.swf",
				wmode : 'opaque'
			}, {
				key : '{{player_key}}',
				clip : {
					start : 0,
					provider : 'rtmp',
					autoPlay : true,
					urlResolvers : 'brselect',
					// preserve aspect ratios
					scaling : 'fit',
					bitrates : [

					// use the 800 kbps item by default, the SD item, marked with sd: true
					{
						url : "mp4:{{movie.mp4_file_lo|aws_sign_cf_stream}}",
						bitrate : 320,
						sd : true,
						isDefault : false
					},

					// this is the HD item, marked with hd: true
					{
						url : "mp4:{{movie.mp4_file_hi|aws_sign_cf_stream}}",
						bitrate : 1066,
						hd : true,
						isDefault : true
					}]
				},
				plugins : {
					brselect : {
						url : "https://s3.amazonaws.com/alliance-movies.t-mobile.com/flowplayer/flowplayer.bitrateselect-3.2.11.swf",

						// comment this out in production
						onStreamSwitch : function(newItem) {
							$f().getPlugin('content').setHtml("Switched to: " + newItem.streamName);
						},
						hdButton : {
							// custom labels for the HD splash
							splash : false,
							place : 'controls'
						}
					},
					rtmp : {
						url : 'https://s3.amazonaws.com/alliance-movies.t-mobile.com/flowplayer/flowplayer.rtmp-3.2.10.swf',
						netConnectionUrl : 'rtmpe://{{cloudfront_domain}}/cfx/st'
					},
					controls : {
						time : true
					}
				}
			}).ipad();
		}
	}
	// ]]>


</script>
{% endblock %}
{% block content %}
<div id="title">
	Enjoy The Show!
</div>
<div id="movie_player">
	<div id="player"></div>
</div>
<hr id="green_hr" />
<div id="movie_poster">
	<img src="{{ movie.poster_url }}" alt ="" />
</div>
<div id="movie_title">
	{{ movie.title }}
</div>
<div id="movie_description">
	{{ movie.description }}
</div>
<input type="hidden" id="code" name="code" value="{{code}}" />
<input type="hidden" id="playtime" name="playtime" value="0" />
{% endblock %}