{% extends "movies/template.html" %}

{% block title %}Movie Not Available At The Moment{% endblock %}

{% block content %}
<div id="static_content">
	<h1>Movie Not Available</h1>
	<p>
		The movie is not available at the moment. Please try again in 3 minutes. Sorry for the inconvenince.
	</p>
	<h1>Movie Playback Facts</h1>
	<ul>
		<li>
			Your redemption code allows you to watch a movie up to 20 times in a 48 h period. (20 maximum visits)
		</li>
		<li>
			Your redemtion code expires after a 48 h period since the first you start watching a movie.
		</li>
		<li>
			The movie can only be watched in one device at the same time. Please log out from other devices
		</li>
		<li>
			If you believe none of the above apply, please contact us and we can fix the issue.
		</li>
	</ul>
</div>
{% endblock %}