{% extends "movies/template.html" %}

{% block title %}Welcome{% endblock %}
{% block js %}{% endblock %}

{% block content %}
<div id="movie_poster">
	<img src="{{ movie.poster_url }}" alt ="" />
</div>
<div id="movie_title">
	{{ movie.title }}
</div>
<div id="movie_description">
	{{ movie.description }}
</div>
<div id="movie_redemtion_code">
	<form id="movie_code_form" action="/process_redemption_code_for_movie/" method="post">
		{% csrf_token %}
		<input type="hidden" name="movie_id"  id="movie_id" value="{{movie.id}}" />

		<p>
			<label for="code" id="code_frontpage_movie1"><img id="signimg" src="{{STATIC_URL}}images/111.png"/></label>
		</p>

		<p>
			<input type="text" name="code" id="codeimg" value="{{code}}" />
			<input type="submit" class="button4" value="" />
		</p>
		{% if code_error_message %}
		<div id="error_message_movie">
			{{ code_error_message }}
		</div>
		{% endif %}
		<p>
			
		</p>
	</form>
</div>
<br />
<hr id="green_hr"/>
<br /> 
<div id="movie_slider_big">
	<div id="waterwheel-carousel-default">
		<div class="carousel-controls">
			<div class="carousel-prev">
				<a href="#">&lt; PREV</a>
			</div>
			<div class="carousel-next">
				<a href="#">NEXT &gt;</a>
			</div>
		</div>
		<div class="carousel-images">
			<a href="/movies/1/"><img src="{{STATIC_URL}}javascript/carrousel/img/MenWhoStareAtGoats_Poster.png" alt="Movie" /></a>
			<a href="/movies/2/"><img src="{{STATIC_URL}}javascript/carrousel/img/PirateRadio_Poster.png" alt="Movie" /></a>
			<a href="/movies/3/"><img src="{{STATIC_URL}}javascript/carrousel/img/ASeriousMan_Poster.png" alt="Movie" /></a>
			<a href="/movies/4/"><img src="{{STATIC_URL}}javascript/carrousel/img/AwayWeGo_Poster.png" alt="Movie" /></a>
			<a href="/movies/5/"><img src="{{STATIC_URL}}javascript/carrousel/img/Greenberg_Poster.png" alt="Movie" /></a>
			<a href="/movies/6/"><img src="{{STATIC_URL}}javascript/carrousel/img/Brothers_Poster.png" alt="Movie" /></a>
			<a href="/movies/7/"><img src="{{STATIC_URL}}javascript/carrousel/img/Milk_Poster.png" alt="Movie" /></a>
			<a href="/movies/8/"><img src="{{STATIC_URL}}javascript/carrousel/img/Traitor_Poster.png" alt="Movie" /></a>
		</div>
	</div>
</div>
{% endblock %}