{% extends "movies/template.html" %}

{% block title %}{{static.title}}{% endblock %}
{% block js %}
<link rel="stylesheet" href="/static/css/scrollbars.css" type="text/css" media="screen"/>
<link rel="stylesheet" href="/static/css/scrollbars-black.css" type="text/css" media="screen"/>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
<script type="text/javascript" src="/static/javascript/aplweb.scrollbars.js"></script>
{% endblock %}
{% block content %}
<div id="static_content">
	<div class="overview" id="overview">
		<h1>{{static.title}}</h1>
		<pre>{{static.content|safe}}</pre>
	</div>
</div>
{% endblock %}