

#my_feedback{
    margin:12px;
    padding:7px;
    color:green;
    border-color: #006400;
    border: 1px solid;
    background-color: #90ee90;
}

.file-wrapper {
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    position: relative;
}

.file-wrapper .button {
    background: #79130e;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    cursor: pointer;
    display: inline-block;
    font-size: 11px;
    font-weight: bold;
    padding: 4px 18px;
    text-transform: uppercase;
    color:white;
    margin: 7px;
}

.file-wrapper input {
    cursor: pointer;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    filter: alpha(opacity=1);
    -moz-opacity: 0.01;
    opacity: 0.01;
    font-size: 100px;
}

input[type=text],input[type=password]{
    width:210px;
}
textarea{
    width:210px;
}

#twitter_div, #email_div{
    display:none;
}


.ui-timepicker-div .ui-widget-header { margin-bottom: 8px; }
.ui-timepicker-div dl { text-align: left; }
.ui-timepicker-div dl dt { height: 25px; margin-bottom: -25px; }
.ui-timepicker-div dl dd { margin: 0 10px 10px 65px; }
.ui-timepicker-div td { font-size: 90%; }
.ui-tpicker-grid-label { background: none; border: none; margin: 0; padding: 0; }

.ui-timepicker-rtl{ direction: rtl; }
.ui-timepicker-rtl dl { text-align: right; }
.ui-timepicker-rtl dl dd { margin: 0 65px 10px 10px; }


#home
{
    position: absolute;
    top: 80px;
    margin-left: 160px;
    width: 22px;
    height: 22px;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
}

input[type=checkbox] {
    width:20px;
    height:20px;
}

.checkbox_label{
    padding:4px;
    margin-top: 3px;
}

form div{
    padding:7px;
    margin:5px;
}

li{
    list-style: none;
    list-style-image: none;
}
input,select,textarea,#url,#facebook_post_title,#facebook_post_url{
    width:400px;
}

textarea{
    height:120px;
}

#my_feedback{
    padding:7px;
    margin:7px;
    background-color:#90ee90;
    border-color: #006400;
    border-style: solid;
    border-width: 1px;
}

fieldset{
    width:590px;
    -moz-border-radius:5px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    border: 1px #d3d3d3 solid;
}

hr{
    border-color: #d3d3d3;
}

#update_button, #cancel_button{
    width:70px;
    max-width: 70px;
}

label.error { float: none; color: red; padding-left: .5em; vertical-align: bottom; clear:both;}