{% extends "template/template.html" %}

{% block title %}Forgot Password{% endblock %}
{% block js %}

{% endblock %}
{% block content %}
<div id="static_content">
	<h1>Forgot Password</h1>
	<p>

	{% if my_error_message %}
	<p id="error_message">
		{{ my_error_message }}
	</p>
	{% else %}
	<form action="/process_forgot_password/" method="post">
		{% csrf_token %}
		<p>
			<label for="code">Please enter the email used during registration.</label>
		</p>
		<p>
			<input type="text" name="email" id="email" value="" style="float:left;" />
		</p>
		<p>
			<input type="submit" class="button1" value="Forgot Password" />
		</p>
	</form>
	{% endif %}
	</p>
</div>
{% endblock %}